.Button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 8px;
  padding: 6.79px 30px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  
  &.Disabled {
    cursor: default;
  }

  &.Filled {
    background-color: #7695ec;
    color: #ffffff;
  }

  &.Danger {
    background: #ff5151;
    color: #ffffff;
  }

  &.OutLine {
    background: #ffffff;
    color: #000000;
    border: 1px solid #999999;
  }

  &.Success {
    background: #47b960;
    color: #ffffff;
  }
}
