.Card {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 16px;
  padding: 24px;

  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }

  .containerButtons {
    display: flex;
    justify-content: end;
    margin-top: 16px;
  }
}

.CardModal {
  min-height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(119, 119, 119, 0.8);

  .Card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
